In [4]:
import requests
response = requests.get("http://apis.data.go.kr/1471000/FoodNtrIrdntInfoService1/getFoodNtrItdntList1",
                      params = {"ServiceKey":"LArp84cYD19lK3jAxCtQOuKp3vEIJdQ5uWk3Rm5ln0MIvNpg+AV91CtdmjmUaoIG7VP9bm8/s06HSx4JtYW60w==",
                      "numOfRows":100,
                      "pageNo":100})
# response.header
response.status_code

200

In [5]:
import xmltodict
a = xmltodict.parse(response.text)

In [11]:
food = a['response']['body']['items']['item']

In [12]:
import pandas as pd

In [15]:
food = pd.DataFrame(food)
food

,DESC_KOR,SERVING_WT,NUTR_CONT1,NUTR_CONT2,NUTR_CONT3,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUTR_CONT7,NUTR_CONT8,NUTR_CONT9,BGN_YEAR,ANIMAL_PLANT
0,콘푸라이트1/3라이트,30,34.02,7.74,0.39,0.17,0.60,56.61,0.00,0.12,0.00,2017,동서식품
1,콘후레이크,30,112.20,24.60,1.83,0.73,1.82,233.28,0.00,0.63,0.00,2015,동서식품
2,콘후레이크,30,33.66,7.38,0.55,0.22,0.60,69.98,0.00,0.19,0.00,2017,동서식품
3,쵸코후레이크,30,115.80,25.20,1.26,1.08,9.60,161.70,0.00,0.99,0.00,2015,동서식품
4,쵸코후레이크,30,34.74,7.56,0.38,0.32,2.88,48.51,0.00,0.30,0.00,2017,동서식품
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,？？니 청포도,10,18.19,3.62,0.04,0.42,0.55,0.09,0.01,0.41,0.00,2017,롯데제과
96,박찬회연양갱,50,142.85,35.30,1.25,0.10,25.25,1.25,0.00,0.00,0.00,2012,롯데제과
97,박찬회연양갱,50,158.72,39.22,1.39,0.11,12.62,1.39,0.00,0.00,0.00,2017,롯데제과
98,"초코파이류,몽쉘통통",70,349.30,33.81,3.15,22.26,N/A,86.10,N/A,N/A,N/A,2006,롯데제과
99,"초코파이류,몽쉘통통",70,244.51,23.67,2.21,15.58,15.31,60.27,0.00,0.00,0.00,2017,롯데제과

In [23]:
del food["BGN_YEAR"]
del food["ANIMAL_PLANT"]
del food["NUTR_CONT8"]
del food["NUTR_CONT9"]

food

,DESC_KOR,SERVING_WT,NUTR_CONT1,NUTR_CONT2,NUTR_CONT3,NUTR_CONT4,NUTR_CONT5,NUTR_CONT6,NUTR_CONT7
0,콘푸라이트1/3라이트,30,34.02,7.74,0.39,0.17,0.60,56.61,0.00
1,콘후레이크,30,112.20,24.60,1.83,0.73,1.82,233.28,0.00
2,콘후레이크,30,33.66,7.38,0.55,0.22,0.60,69.98,0.00
3,쵸코후레이크,30,115.80,25.20,1.26,1.08,9.60,161.70,0.00
4,쵸코후레이크,30,34.74,7.56,0.38,0.32,2.88,48.51,0.00
...,...,...,...,...,...,...,...,...,...
95,？？니 청포도,10,18.19,3.62,0.04,0.42,0.55,0.09,0.01
96,박찬회연양갱,50,142.85,35.30,1.25,0.10,25.25,1.25,0.00
97,박찬회연양갱,50,158.72,39.22,1.39,0.11,12.62,1.39,0.00
98,"초코파이류,몽쉘통통",70,349.30,33.81,3.15,22.26,N/A,86.10,N/A
99,"초코파이류,몽쉘통통",70,244.51,23.67,2.21,15.58,15.31,60.27,0.00

In [24]:
food.columns = ['식품명','1회제공량(g)','열량(kcal)','탄수화물(g)','단백질(g)','지방(g)','당류(g)','나트륨(mg)','콜레스테롤(mg)']

In [25]:
food

,식품명,1회제공량(g),열량(kcal),탄수화물(g),단백질(g),지방(g),당류(g),나트륨(mg),콜레스테롤(mg)
0,콘푸라이트1/3라이트,30,34.02,7.74,0.39,0.17,0.60,56.61,0.00
1,콘후레이크,30,112.20,24.60,1.83,0.73,1.82,233.28,0.00
2,콘후레이크,30,33.66,7.38,0.55,0.22,0.60,69.98,0.00
3,쵸코후레이크,30,115.80,25.20,1.26,1.08,9.60,161.70,0.00
4,쵸코후레이크,30,34.74,7.56,0.38,0.32,2.88,48.51,0.00
...,...,...,...,...,...,...,...,...,...
95,？？니 청포도,10,18.19,3.62,0.04,0.42,0.55,0.09,0.01
96,박찬회연양갱,50,142.85,35.30,1.25,0.10,25.25,1.25,0.00
97,박찬회연양갱,50,158.72,39.22,1.39,0.11,12.62,1.39,0.00
98,"초코파이류,몽쉘통통",70,349.30,33.81,3.15,22.26,N/A,86.10,N/A
99,"초코파이류,몽쉘통통",70,244.51,23.67,2.21,15.58,15.31,60.27,0.00