In [2]:
import pandas as pd
import numpy as np

In [8]:
series = pd.Series(["하","둘","셋","넷","다","여","일","여","아","열"],
index = [_ for _ in range(1,11)])
series

1     하
2     둘
3     셋
4     넷
5     다
6     여
7     일
8     여
9     아
10    열
dtype: object

In [7]:
series = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
['서울','부산','인천','대구'])
series

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [31]:
series = pd.Series(range(10,100,10), range(9))
print(series)
print(type(series.values))
print()
print(series.index)
print(type(series.index))

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64
<class 'numpy.ndarray'>

RangeIndex(start=0, stop=9, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [39]:
series = pd.Series(range(10,100,10))
print(series.values>50)
sum(series.values>50)

[False False False False False  True  True  True  True]

4

In [43]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
['서울','부산','인천','대구'])

s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [46]:
d = {'a':1,'b':2,'c':3}
ser = pd.Series(d, ('c','a','b'))
ser
# 딕셔너리는 비시퀀스여서 순서가 없으나, 시리즈를 통해 순서를 만들 수 있다.

c    3
a    1
b    2
dtype: int64

In [47]:
d = {'a':1,'b':2,'c':3}
ser = pd.Series(d, ('c','a','z'))
ser

c    3.0
a    1.0
z    NaN
dtype: float64

In [49]:
a = pd.Series((88,95,100,67),
             ['철수','영희','길동','몽룡'])
a.name = "사회점수"
a.index.name = "이름"
a

이름
철수     88
영희     95
길동    100
몽룡     67
Name: 사회점수, dtype: int64

In [3]:
dic = {"철수":88,"영희":95,"길동":100,"몽룡":67}
b = pd.Series(dic, )
b.name = "사회점수"
b.index.name = "이름"
b

350

In [54]:
print(dic.items())

for k, v in dic.items():
    print(f"{k},{v}")

dict_items([('철수', 88), ('영희', 95), ('길동', 100), ('몽룡', 67)])
철수,88
영희,95
길동,100
몽룡,67

In [72]:

s = {"서울":9_904_312,"부산":3_448_737,"인천":2_890_451,"대구":2_466_052}
type(s["서울"])
s.items()

for k,v in s.items():
    if v > 3_000_000:
        print(f"{k}의 인구는 {v}으로서 300만이 넘습니다.")

서울의 인구는 9904312으로서 300만이 넘습니다.
부산의 인구는 3448737으로서 300만이 넘습니다.

In [79]:
s2015 = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
['서울','부산','인천','대구'])

s2015.name = "인구"
s2015.index.name = "도시"
s2015

print(s2015.서울)
print(s2015[0])
print(s2015[[0]]) # 시리즈 형태로 가져올 수 있음

9904312
9904312
도시
서울    9904312
Name: 인구, dtype: int64

In [89]:
# 시리즈 인덱싱
s2015[["인천"]]

도시
인천    2890451
Name: 인구, dtype: int64

In [94]:
s2015 = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052],
['서울','부산','인천','대구'])

s2010 = pd.Series({"서울":9631482,"부산":3393191,"인천":2632035,"대전":1490158})
s2010

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [107]:
diff = s2015 - s2010
diff

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [102]:
diff.isnull()

대구     True
대전     True
부산    False
서울    False
인천    False
dtype: bool

In [104]:
diff.notnull()
diff[diff.notnull()]
# 낫널을 이용한 인덱싱

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [109]:
diff[diff>200_000]

서울    272830.0
인천    258416.0
dtype: float64

In [115]:
# 2010년 대비 2015년 인구증가율 구하기

growth_rate = (s2015 - s2010)/s2010 * 100
growth_rate = growth_rate[growth_rate.notnull()]
growth_rate

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [123]:
growth_rate[[growth_rate.values.argmax()]]

인천    9.818107
dtype: float64

In [154]:
growth = s2015 - s2010
growth = growth[growth.notnull()]
print(growth)
print()

print(growth[growth.values.argmin()])
print()
print(growth[[growth.values.argmax()]])
print()
# values를 생략하고 argmax만 써도 됌 
print(growth[[growth.argmax()]])

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

55546.0

서울    272830.0
dtype: float64

서울    272830.0
dtype: float64

In [156]:
print(growth)
print()


growth[1:3] = 2.83, 9.82 #숫자 index 방법은 뒤에꺼가 포함되지 않는다. 그리고 튜플은 괄호 생략 가능함
growth["서울":"인천"] = (2.83, 9.82) #label index 방법은 뒤에꺼가 포함된다. 

print(growth)

부산    55546.00
서울        2.83
인천        9.82
dtype: float64

부산    55546.00
서울        2.83
인천        9.82
dtype: float64

In [157]:
fin1 = {"카카오":60010,"삼성전자":61000,"LG전자":90000}
fin2_value = [60200,61200,200100]
fin2_index = ["카카오","삼성전자","네이버"]

a = pd.Series(fin1)
print(a)
b = pd.Series(fin2_value, fin2_index)
print(b)

카카오     60010
삼성전자    61000
LG전자    90000
dtype: int64
카카오      60200
삼성전자     61200
네이버     200100
dtype: int64

In [168]:
result["삼성전자":"카카오"]

삼성전자   -200.0
카카오    -190.0
dtype: float64

In [171]:
result = a - b
result[result.notnull()]

삼성전자   -200.0
카카오    -190.0
dtype: float64

In [11]:
data = {
    "2015" : [9_904_312, 3_448_737, 2_890_451, 2_466_052],
    "2010" : [9_631_482, 3_393_191, 2_632_035, 2_431_774],
    "2005" : [9_762_546, 3_512_547, 2_517_680, 2_456_016],
    "2000" : [9_853_972, 3_655_437, 2_466_338, 2_473_990],
    "지역" : ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율" :[0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, columns = columns, index = index)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [176]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [177]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [178]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [14]:
df.index.name = "도시"
df.columns.name = "특성"

KeyError: "None of [Int64Index([1, 2], dtype='int64', name='특성')] are in the [columns]"

In [182]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [184]:
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100 
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [263]:
data = {
    "국어":[80,90,70,30],
    "영어":[90,70,60,40],
    "수학":[90,60,80,70]
}

columns = ["국어","영어","수학"]
index = ["춘향","몽룡","향단","방자"]

# df = pd.DataFrame(data, columns = columns, index = index)
# df
# #1)
# Ser1 = pd.Series(df["수학"])
# print(Ser1)
# #2)
# del df["수학"]
# df
# #3)
# df["평균점수"] = ((df["국어"]+df["영어"]+df["수학"])/3).round(1)
# df
# #4) 
# df[:1]
# #5)
# Ser5 = pd.Series((70,60,80),("국어","영어","수학"))
# Ser5
# df.T["향단"]

국어      70.0
영어      60.0
수학      80.0
평균점수    70.0
Name: 향단, dtype: float64

In [271]:
import numpy as np

np.random.seed(0)
a = np.random.randn(24).reshape(6,-1)
b = pd.date_range("20130226", periods = 6)
c = pd.DataFrame(a, index = b, columns = ("A","B","C","D"))
print(c)

                   A         B         C         D
2013-02-26  1.764052  0.400157  0.978738  2.240893
2013-02-27  1.867558 -0.977278  0.950088 -0.151357
2013-02-28 -0.103219  0.410599  0.144044  1.454274
2013-03-01  0.761038  0.121675  0.443863  0.333674
2013-03-02  1.494079 -0.205158  0.313068 -0.854096
2013-03-03 -2.552990  0.653619  0.864436 -0.742165

In [15]:
nums = pd.Series(range(500))
nums

0        0
1        1
2        2
3        3
4        4
      ...
495    495
496    496
497    497
498    498
499    499
Length: 500, dtype: int64

In [18]:
nums.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [19]:
nums.tail(10)

490    490
491    491
492    492
493    493
494    494
495    495
496    496
497    497
498    498
499    499
dtype: int64

In [20]:
nums = pd.Series([1,2,np.nan,4,5])
nums

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [24]:
hello = pd.Series(list("Hello"))
hello
# 문자열이 어떻게 변할지 모르기 때문에 포괄적으로 object로 받은 것

0    H
1    e
2    l
3    l
4    o
dtype: object

In [28]:
hello.nunique()

4

In [35]:
nums.count() #nan 제외

4

In [34]:
len(nums) #nan 포함

5

In [36]:
# nan 갯수 구하기
len(nums) - nums.count()

1

In [37]:
nums.sum()

12.0

In [39]:
nums.mean()

3.0

In [40]:
nums.median()

3.0

In [41]:
nums.std()

1.8257418583505538

In [42]:
nums.max()

5.0

In [43]:
nums.min()

1.0

In [44]:
nums.describe()

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [45]:
hello.describe()
# top은 숫자1이 아니라 알파벳 l이다. l이 제일 많다는 뜻. 몇개? freq = 2개

count     5
unique    4
top       l
freq      2
dtype: object

In [50]:
superheros = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]
strength_levels = (100, 120, 90, 95, 110, 120)

x = pd.Series(strength_levels,superheros)
x.name = "파워"
x.index.name = "이름"
x

이름
Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
Name: 파워, dtype: int64

In [51]:
x.tail(4)

이름
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
Name: 파워, dtype: int64

In [54]:
x.nunique()

5

In [59]:
x.mean()
x.median()
x.max()
x.min()

90

In [60]:
dict(x)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}